* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
}

body {
  background-color: black;
  color: greenyellow;
}

.links {
  font-size: 30px;
}
.loader {
  display: block;
  margin: auto;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}
