:root {
  --main-font: sans-serif;
  --font-size: 14px;
  --main-color: #00dffd;
  --second-color: #000000;
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
  --color-rosa: #f500fd;
  --color-blanco: #fff;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

*,
*:before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
  margin: 5rem 0 2rem 0;
}

h3 {
  font-size: 14px;
}

/* iframe {
  margin: 1rem 0;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  min-height: 30vh;
  border-radius: 20px;
} */

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
}

.header {
  position: sticky;
  z-index: 997;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 1rem;
}

/*  PARENT CONTAINER IN MAIN  */

.section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  max-width: var(--container-width);
  min-height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2rem;
}

/*************  GENERAL BUTTONS  *************/

.input {
  border-radius: 7px;
  background-color: var(--second-color);
  font-family: sans-serif;
  background-image: linear-gradient(
    90deg,
    rgba(224, 4, 253, 0.1),
    rgba(0, 225, 255, 0.1)
  );
  font-weight: bold;
  font-family: sans-serif;
  color: var(--main-color);
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid var(--color-rosa);
}

.input-btn,
.btn {
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  color: var(--second-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  padding: 0.5em 0;
  margin: 0.3rem;
}

/*************  GLASS CONTAINER  *************/

.container-glass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  min-height: 30vh;
  margin-bottom: 20px;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  background-color: #0f0f0f;
  border-radius: 20px;
  color: var(--main-color);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

/*************  MENU  *************/

.panel {
  position: fixed;
  z-index: 888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  transform: translate(0, -130%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  cursor: auto;
  border: none;
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 69px;
}

.menu a {
  padding: 0.75rem;
  width: inherit;
  display: block;

  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

.menu a:hover {
  color: var(--second-color);
  background-color: var(--main-color);
}

/******** CLOCK AND ALARM ********/

.clock,
.alarm {
  flex-direction: column;
}

.clock div {
  width: 100%;
  height: 50px;
  color: var(--color-rosa);
}

/************  keyboard events  ************/

.stage {
  display: flex;
  width: 80%;
  min-height: 50vh;
  background-color: var(--second-color);
  box-shadow: 1px 1px 7px var(--main-color), -1px -1px 7px var(--main-color);
}

.ball {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

.container-btn-ball {
  padding: 40px;
}

/************  ScrollTopBotton  ************/

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/************  DarkThemeBotton  ************/

.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/************  Search Filters  ************/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
}

.card-filter {
  padding: 0.5rem;
  width: 50vw;
  border-radius: 7px;
  background-color: rgb(0, 0, 0);
  border: var(--main-color);
  color: var(--main-color);
}

.card {
  transition: all 0.3s ease-out;
}

.card p {
  font-weight: bold;
}

.card p:first-child {
  font-size: 40px;
}

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/*************  EXTRAS  ***************/

.get-winner {
  color: #3bfd00;
  height: 7px;
  margin: 7px;
}

.pulse {
  font-size: 70px;
  animation: pulse 1s linear infinite;
}

.rgb-total {
  padding: 1rem;
  font-weight: bold;
  width: 100%;
  border-radius: 7px;
}

/*  SCROLL  */

::-webkit-scrollbar {
  width: 0.75em;
  background-color: black;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-inline: 1em;
}

::-webkit-scrollbar-thumb {
  background: hsl(192, 100%, 50%);
  border-radius: 100vw;
}

/********** Responsive Slider ***********/

.slider {
  position: relative;
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 600px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-slide img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 47%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2.2rem;
}

.slider a {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: var(--color-blanco);
  color: #000;
  transition: all 0.3 ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/******** ScrollSpy *******/

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }

  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    position: sticky;
    align-self: start;
    justify-content: flex-start;
    top: 4rem;
    background-color: var(--main-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    justify-content: start;
    text-align: right;
    margin-top: 0;
  }

  .menu a {
    color: var(--second-color);
    font-size: 1rem;
    padding: 0.75rem;
  }

  .menu a:hover,
  .menu a.active {
    color: var(--main-color);
    background-color: var(--second-color);
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}

/******** ContactForm Validations ********/

.contact-form {
  --form-ok-color: rgb(0, 255, 0);
  --form-error-color: rgb(255, 32, 32);
}

.textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.select {
  text-align: center;
  color: var(--color-rosa);
}

.contact-form [required]:valid {
  border: 2px solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: 1px solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: var(--color-blanco);
  transition: all 0.8s ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

/******** ANIMATED SHAPES ********/

.container-shapes {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.shape {
  position: absolute;
  width: 100px;
  height: 100px;
  backdrop-filter: blur(20px);
  transition: transform 1s linear;
  z-index: -5;
}

.shape1 {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 140px solid #3bfd00;
  top: 30%;
  left: 50%;
  animation: forma1 50s linear infinite both;
}
.shape2 {
  width: 150px;
  height: 150px;
  background-color: #ff7300;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  animation: forma2 8s linear infinite both;
}
.shape3 {
  width: 130px;
  height: 130px;
  background-color: #3bfd00;
  top: 70%;
  left: 20%;
  animation: forma3 40s linear infinite both;
}

.container-shapes p {
  color: var(--color-rosa);
  top: 300px;
  margin: auto;
  position: absolute;
  opacity: 0.3;
  transform: rotate(270deg);
  font-size: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  animation: mor 12s linear infinite both;
  text-shadow: 7px 7px 7px var(--main-color);
}

/*************   FOOTER   *************/

.footer {
  height: 20vh;
  text-align: center;
  width: 100%;
  height: auto;
  min-width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000e5;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.footer span {
  margin: 7px 0;
  color: var(--main-color);
}

.info p {
  padding: 0 40px;
  background: linear-gradient(90deg, var(--main-color), var(--color-rosa));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*************    ANIMACIONES    *************/

@keyframes mor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes forma1 {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
    border-bottom: 140px solid #f500fd;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes forma2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    background-color: #0011fd;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes forma3 {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-180deg);
    background-color: red;
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.new-task {
  padding: 0 17px;
  min-width: 300px;
  min-height: 100px;
  width: 100%;
  border-radius: 7px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: var(--color-rosa);
  border: 1px solid var(--second-color);
  box-shadow: 1px 1px 7px var(--color-rosa);
  margin-top: 10px;
  overflow-y: auto;
}

.new-task p {
  width: 100px;
}

.btn-add-task {
  background-color: rgb(0, 255, 34);
  color: var(--second-color);
  padding: 4px;
  border-radius: 7px;
  border: none;
  cursor: pointer;

  width: 130px;
}

.btn-delete {
  background-color: red;
  color: white;
  padding: 4px;
  width: 100px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.text-task {
  width: 40%;
  color: #00dffd;
}
